#sprite0{
    height:249px;
    width:254px;
    background:url(712ae86ccb48ead14a7c5c8336b6d9c3.jpg) -22px -26px no-repeat;
    }
    
    #sprite1{
    height:249px;
    width:208px;
    background:url(712ae86ccb48ead14a7c5c8336b6d9c3.jpg) -297px -15px no-repeat;
    }
    
    #sprite2{
    height:278px;
    width:268px;
    background:url(712ae86ccb48ead14a7c5c8336b6d9c3.jpg) -512px -21px no-repeat;
    }
    
    #sprite3{
    height:228px;
    width:222px;
    background:url(712ae86ccb48ead14a7c5c8336b6d9c3.jpg) -20px -313px no-repeat;
    }
    
    #sprite4{
    height:263px;
    width:310px;
    background:url(712ae86ccb48ead14a7c5c8336b6d9c3.jpg) -278px -276px no-repeat;
    }
    
    #sprite5{
    height:75px;
    width:75px;
    background:url(712ae86ccb48ead14a7c5c8336b6d9c3.jpg) -0px -0px no-repeat;
    }